./__pycache__/
data_download/output_data/
data_download/__pycache__/
model_training/train/
model_training/val/
model_training/test/

*.DS_Store
../.DS_Store
.DS_Store
./data_download/.DS_Store

**/*.ipynb_checkpoints/
